/*External CSS*/
body{
    padding-bottom: 50px; /*espaco borda de baixo*/
}

h3{
    color: green;
}

p{
    /*color: blueviolet;*/
}

/*classes*/

.paragraph{
    background-color: black;
    color: yellow;
    padding: 5px;
}

/*IDS*/

#exclusive-title{
    background-color: purple;
    color:  white;
    padding: 10px;
}

/*ordem css id > classe > tag*/
h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#algum-titulo{
    border-bottom: 4px solid green;
}

.color-name{
    color: deeppink;
}

.hex{
    color: #568971;
}

.hex2{
    color: #894856;
}

.simple-hex{
    color: #333333; /*igual a 333 tirando os repetidos*/
}

.simple-hex2{
    color: #aa55ff; /*igual a a5f tirando os repetidos*/
}

.rgb{
    color: rgb(255,0,0);
}

.rgb2{
    color: rgb(0,255,0);
}

.rgba{
    /*o ultimo elemento vai de 0 a 1 e a opacidade 0 e tranparente 1 o mais forte*/
    color: rgba(56,235,123,.4); 
}

.rgba2{
    color: rgba(6,5,13,.8);
}

.hsl{
    /*cor saturacao e luz*/
    color: hsl(45, 75%, 30%);
}

.hsl2{
    color: hsl(214, 35%, 70%);
}

.bg{
    background-color: #000;
    color: yellow;
}

.bg2{
    background-color: #894856;
    color: blue;
}

.bgop{
    background-color: green;
    opacity: 0.5;
}

.bgop2{
    background-color: gray;
    color: #000;
    opacity: 0.8;
}

.rgbaop{
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}

.bgimg{
    background-image: url("../img/floresta.jpg");
    padding: 10px;
    color: #fff;
}

.notc,
.c{
    height: 400px;
    width: 400px;
    background-image: url(../img/recife.jpg);
}

.c{
    background-position: center;
    background-size: cover;
}