#modelo-box{
    margin: 10px;
    padding: 10px;
    border: 8px solid #050;
    outline: 8px solid rgb(5, 5, 228); /*borda na margem*/
    border-radius: 5px;
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.texto{
    background-color: #000;
    color: #fff;
    padding: 2px;
    border: none; /*sem borda no elemento*/
}